<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Dashboard</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<section class="page">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="admin_panel.html"><h1>event <strong class="text-primary">center </strong></h1></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="admin_panel.html"><span class="nav-link-text">Dashboard</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="add_center.html"><span class="nav-link-text">add center</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="nav-link-text">profile</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html"><span class="nav-link-text">logout</span></a>
        </li>
      </ul>      
    </div>
  </nav>
  <div class="inner-page">
   	<div class="container-fluid">
        <div class="row">
         <div class="form-outer text-center d-flex align-items-center col-4">
         <div class="inner-img">
          <div class="form-inner">
            <img src="images/landing.jpg" class="img">
			  <h3><a href="view_center_event.html">five points</a></h3>
          </div>
			 </div>
        </div>
        <div class="form-outer text-center d-flex align-items-center col-4">
          <div class="inner-img">
          <div class="form-inner">
            <img src="images/landing.jpg" class="img">
			  <h3><a href="view_center_event.html">Radisson blu</a></h3>
          </div>
			</div>
        </div>
        <div class="form-outer text-center d-flex align-items-center col-4">
          <div class="inner-img">
          <div class="form-inner">
            <img src="images/landing.jpg" class="img">
			  <h3><a href="view_center_event.html">five points</a></h3>
          </div>
			</div>
        </div>
        
		</div>
        <nav class="text-center">
   			  <ul class="pagination">
      		    <li><a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span></a></li>
      			<li class="active"><a href="#">1</a></li>
      			<li><a href="#">2</a></li>
      			<li><a href="#">3</a></li>
      			<li><a href="#">4</a></li>
      			<li><a href="#">5</a></li>
		        <li><a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span></a></li>
    		  </ul>
  			</nav>
      </div>

	<footer class="main-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 text-center">
            <p>eCenter 2017</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</section>
<script src="js/show_hidden_div.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>
