.container {
  padding: 20px 0;
  margin-top: 43px;
}
.media-body {
  padding: 25px 20px;
  line-height: 2;
  text-align: center;
}
.bg {
  padding: 10px;
  opacity: .8;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.main-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}